spring:
  application:
    name: Projet 12

  datasource:
    driver-class-name: org.postgresql.Driver

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: false
    validate-on-migrate: true

  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false

---
spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: jdbc:postgresql://postgres:5432/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}

  flyway:
    locations: classpath:db/migration,classpath:db/testdata

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

server:
  port: 8080

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

api:
  refresh-token:
    cookie-name: rtcid
    expiration: 1209600

security:
  cors:
    allowed-origins:
      - http://localhost:3000

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true

geo:
  api:
    base-url: https://geo.api.gouv.fr